<h2 class="contacts-heading">Contacts</h2>

{{#if addingNewContact}}
  <form class='form-inline' role='form'>
  <div class='form-group'>
    <label for='new-first-name'>First Name:</label>
    {{input type='text' value=controller.newFirstName id='new-first-name' classNames='form-control' placeholder='enter first name'}}
  </div>

  <div class='form-group'>
    <label for='new-last-name'>Last Name:</label>
    {{input type='text' value=controller.newLastName id='new-last-name' classNames='form-control' placeholder='enter last name'}}
  </div>
  </form>
{{/if}}
<table class='contacts-list table'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone(s)</th>
    </tr>
  </thead>

  <tbody>
    {{#each}}
    <tr class='contact-item'>
      <td>{{#link-to 'contacts.show' this}}{{first_name}}{{/link-to}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>