<form class='form-horizontal' role='form'>
  <div class='form-group'>
    <label for='first-name' class='col-lg-2 control-label'>first name:</label>
    <div class="col-lg-10">
      {{input type='text' value=first_name id='first-name' classNames='form-control' placeholder='enter first name'}}
    </div>
  </div>

  <div class='form-group'>
    <label for='last-name' class='col-lg-2 control-label'>last name:</label>
    <div class="col-lg-10">
      {{input type='text' value=last_name id='last-name' classNames='form-control' placeholder='enter last name'}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <label>emails:</label>
      {{#each emails}}
      <div class='email'>
        {{input type='email' value=this.address classNames='form-control' placeholder='enter email address'}}
        <a class='btn btn-danger' {{action 'deleteEmail' this}}>-</a>
      </div>
      {{/each}}
      <button class='btn btn-success' {{action 'addEmail'}}>+</button>
    </div>
  </div>
  <button id='save-new-contact' class='btn btn-success' {{action 'saveContact'}}>Save</button>
  <button id='cancel-new-contact' class='btn btn-danger' {{action 'cancelEditing'}}>Cancel</button>
</form>