<form class='form-horizontal' role='form'>
  <div class='form-group'>
    <label for='first-name' class='col-lg-2 control-label'>first name:</label>
    <div class="col-lg-10">
      {{input type='text' value=first_name id='first-name' classNames='form-control' placeholder='enter first name'}}
    </div>
  </div>

  <div class='form-group'>
    <label for='last-name' class='col-lg-2 control-label'>last name:</label>
    <div class="col-lg-10">
      {{input type='text' value=last_name id='last-name' classNames='form-control' placeholder='enter last name'}}
    </div>
  </div>

  <div class="form-group">
    <label for='last-name' class='col-lg-2 control-label'>emails:</label>
    <div class="col-lg-10">
     {{#each emails}}
      <div class="input-group">
        {{input type='email' value=this.address classNames='form-control' placeholder='enter email address'}}
        <span class="input-group-btn">
          <a class='btn btn-danger' {{action 'deleteEmail' this}}>-</a>
        </span>
      </div>
      {{/each}}
      <button class='btn btn-success' {{action 'addEmail'}}>+</button>
    </div>
  </div>
  <button id='save-new-contact' class='btn btn-success' {{action 'saveContact'}}>Save</button>
</form>