<div class='contact-details'>
  <h1 class='contact-heading'>{{full_name}}</h1>

  <ol class='contact-emails'>
  {{#each emails}}
    <li class='email-address'>{{address}}</li>
  {{else}}
    <li>{{full_name}} has no emails assigned.</li>
  {{/each}}
  </ol>

  {{#link-to 'contactEdit' this tagName='button' classNames='btn btn-success'}}edit{{/link-to}}
  <button class='btn btn-danger' {{action 'deleteContact'}}>delete</button>
</div>