<h2 class="contacts-heading">contacts</h2>
<table class='contacts-list table'>
  <thead>
  <tr>
    <th>name</th>
    <th>emails</th>
    <th>actions</th>
  </tr>
  </thead>

  <tbody>
  {{#each}}
    <tr class='contact-item'>
      <td>{{#link-to 'contact' this}}{{firstName}} {{lastName}}{{/link-to}}</td>
      <td class='contact-emails'>
        {{#each emails}}
          <span class='contact-email'>{{address}}</span>
        {{/each}}
      </td>
      <td>
        {{#link-to 'contactEdit' this classNames='contact-edit btn btn-success'}}edit{{/link-to}}
        <button class='contact-delete btn btn-danger' {{action 'deleteContact' this}}>delete</button>
      </td>
    </tr>
  {{else}}
    <td class='no-contacts' colspan='3'>no contacts have been found</td>
  {{/each}}
  </tbody>
</table>
